@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@source "../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* PRIMARY – Orange-Gold (#D9A23D) */
    /* --color-primary-50: #fdf8ec;
    --color-primary-100: #faefd5;
    --color-primary-200: #f5dea6;
    --color-primary-300: #eec86d;
    --color-primary-400: #e6b74a;
    --color-primary-500: #d9a23d; 
    --color-primary-600: #bf8731;
    --color-primary-700: #996728;
    --color-primary-800: #7a5223;
    --color-primary-900: #5f411c; */

    --color-primary-50: #fffeeb;
    --color-primary-100: #fffad8;
    --color-primary-200: #fff3b0;
    --color-primary-300: #ffe982;
    --color-primary-400: #ffdd58;
    --color-primary-500: #ffdb39; /* base */
    --color-primary-600: #e5bf33;
    --color-primary-700: #b39328;
    --color-primary-800: #80671c;
    --color-primary-900: #4d3e11;

    /* SECONDARY – Soft Yellow (#F2DC99) */
    --color-tertiary-50: #fffcf5;
    --color-tertiary-100: #fff8e5;
    --color-tertiary-200: #fdefc6;
    --color-tertiary-300: #fae5a7;
    --color-tertiary-400: #f6e09d;
    --color-tertiary-500: #f2dc99; /* base */
    --color-tertiary-600: #e0c775;
    --color-tertiary-700: #c1a957;
    --color-tertiary-800: #9e8842;
    --color-tertiary-900: #7c6934;

    /* TERTIARY – Dark Neutral (#262626) */
    --color-secondary-50: #f5f5f5;
    --color-secondary-100: #e5e5e5;
    --color-secondary-200: #cfcfcf;
    --color-secondary-300: #afafaf;
    --color-secondary-400: #737373;
    --color-secondary-500: #262626; /* base */
    --color-secondary-600: #1f1f1f;
    --color-secondary-700: #1a1a1a;
    --color-secondary-800: #141414;
    --color-secondary-900: #0a0a0a;

    --color-my-dark: #262626;
    --color-my-yellow: #f2dc99;
    --color-my-orange: #d9a23d;
    --color-my-brown: #592b11;
    --color-my-gray: #f2f2f2;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    /* font-family: "Google Sans Flex", sans-serif; */
    font-optical-sizing: auto;
}

@base {
    .border-border {
        @apply border border-gray-300;
    }
}

.no-scroll-visual {
    overflow-y: auto; /* or scroll */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.no-scroll-visual::-webkit-scrollbar {
    display: none;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    80% {
        transform: scale(2.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blobRipple {
    0% {
        transform: scale(1);
        opacity: 0.6;
        clip-path: circle(50% at 50% 50%);
    }
    50% {
        transform: scale(2);
        opacity: 0.3;
        clip-path: ellipse(60% 45% at 50% 50%);
    }
    100% {
        transform: scale(3);
        opacity: 0;
        clip-path: polygon(40% 40%, 60% 35%, 80% 50%, 60% 65%, 40% 60%, 20% 50%);
    }
}

.process:hover .process-index {
    @apply text-gray-800;
}
